{
  "openapi": "3.1.0",
  "info": {
    "title": "Payoung Open API",
    "version": "1.0.0",
    "description": "API baca data usaha untuk aplikasi pihak ketiga (akuntansi, marketplace, BI), endpoint tulis penyesuaian stok (cakupan stok:tulis, idempoten per Uuid), dan webhook keluar. Key JSON PascalCase Bahasa Indonesia; uang & jumlah dikirim sebagai string desimal; waktu ISO-8601 UTC; pengenal = Uuid (ULID). Token dibuat Owner di Pengaturan › Token API (paket Bisnis/Enterprise). Batas 120 permintaan/menit per token. Perubahan yang tidak kompatibel = versi baru, versi lama didukung ≥ 6 bulan setelah pengumuman."
  },
  "servers": [
    {
      "url": "https://dashboard.payoung.id/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Data",
      "description": "Endpoint baca berkursor"
    },
    {
      "name": "Tulis",
      "description": "Endpoint tulis (idempoten per Uuid)"
    },
    {
      "name": "Webhook",
      "description": "Dikirim Payoung ke alamat HTTPS Anda"
    }
  ],
  "paths": {
    "/produk": {
      "get": {
        "summary": "Daftar produk beserta satuan, barcode & harga dasar",
        "tags": [
          "Data"
        ],
        "security": [
          {
            "TokenApi": [
              "produk:baca"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Produk"
                      }
                    },
                    "Kursor": {
                      "$ref": "#/components/schemas/Kursor"
                    }
                  },
                  "required": [
                    "Data",
                    "Kursor"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          },
          "422": {
            "$ref": "#/components/responses/ParameterTidakValid"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Per"
          },
          {
            "$ref": "#/components/parameters/Kursor"
          }
        ]
      }
    },
    "/produk/{uuidProduk}": {
      "get": {
        "summary": "Satu produk",
        "tags": [
          "Data"
        ],
        "security": [
          {
            "TokenApi": [
              "produk:baca"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "$ref": "#/components/schemas/Produk"
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          },
          "404": {
            "$ref": "#/components/responses/TidakDitemukan"
          }
        },
        "parameters": [
          {
            "name": "uuidProduk",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          }
        ]
      }
    },
    "/stok": {
      "get": {
        "summary": "Saldo stok per produk per lokasi",
        "tags": [
          "Data"
        ],
        "security": [
          {
            "TokenApi": [
              "stok:baca"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Stok"
                      }
                    },
                    "Kursor": {
                      "$ref": "#/components/schemas/Kursor"
                    }
                  },
                  "required": [
                    "Data",
                    "Kursor"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          },
          "422": {
            "$ref": "#/components/responses/ParameterTidakValid"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Per"
          },
          {
            "$ref": "#/components/parameters/Kursor"
          },
          {
            "name": "gudang",
            "in": "query",
            "required": false,
            "description": "Uuid lokasi stok (opsional)",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/penjualan": {
      "get": {
        "summary": "Penjualan per rentang tanggal bisnis (maks. 92 hari)",
        "tags": [
          "Data"
        ],
        "security": [
          {
            "TokenApi": [
              "penjualan:baca"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Penjualan"
                      }
                    },
                    "Kursor": {
                      "$ref": "#/components/schemas/Kursor"
                    }
                  },
                  "required": [
                    "Data",
                    "Kursor"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          },
          "422": {
            "$ref": "#/components/responses/ParameterTidakValid"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Per"
          },
          {
            "$ref": "#/components/parameters/Kursor"
          },
          {
            "name": "dari",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sampai",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ]
      }
    },
    "/penjualan/{uuidPenjualan}": {
      "get": {
        "summary": "Satu penjualan",
        "tags": [
          "Data"
        ],
        "security": [
          {
            "TokenApi": [
              "penjualan:baca"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "$ref": "#/components/schemas/Penjualan"
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          },
          "404": {
            "$ref": "#/components/responses/TidakDitemukan"
          }
        },
        "parameters": [
          {
            "name": "uuidPenjualan",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          }
        ]
      }
    },
    "/pelanggan": {
      "get": {
        "summary": "Daftar pelanggan (tanpa NPWP/NIK, alamat, limit kredit)",
        "tags": [
          "Data"
        ],
        "security": [
          {
            "TokenApi": [
              "pelanggan:baca"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Berhasil",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Pelanggan"
                      }
                    },
                    "Kursor": {
                      "$ref": "#/components/schemas/Kursor"
                    }
                  },
                  "required": [
                    "Data",
                    "Kursor"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          },
          "422": {
            "$ref": "#/components/responses/ParameterTidakValid"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Per"
          },
          {
            "$ref": "#/components/parameters/Kursor"
          }
        ]
      }
    },
    "/stok/penyesuaian": {
      "post": {
        "summary": "Buat penyesuaian stok",
        "description": "Membuat & mengajukan penyesuaian stok seperti di back-office: di bawah batas nilai persetujuan langsung Diposting (mutasi stok & jurnal), di atasnya MenungguPersetujuan sampai disetujui di back-office. Produk bernomor seri belum didukung (PelacakanBelumDidukung). 201 = dokumen baru, 200 = Uuid yang sama dikirim ulang dengan isi sama, 409 = Uuid sama dengan isi berbeda.",
        "tags": [
          "Tulis"
        ],
        "security": [
          {
            "TokenApi": [
              "stok:tulis"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Uuid": {
                    "type": "string",
                    "description": "ULID buatan pemanggil; kunci idempotensi (kirim ulang = dokumen yang sama)"
                  },
                  "UuidGudang": {
                    "type": "string",
                    "description": "Uuid lokasi stok (lihat GET /stok)"
                  },
                  "Tanggal": {
                    "type": "string",
                    "format": "date",
                    "description": "Tanggal bisnis; tidak boleh di masa depan atau di periode terkunci"
                  },
                  "Alasan": {
                    "type": "string",
                    "enum": [
                      "Rusak",
                      "Hilang",
                      "Kedaluwarsa",
                      "Sampel",
                      "KonsumsiInternal",
                      "Lainnya"
                    ],
                    "description": "Alasan masuk hanya untuk alasan yang mengizinkan stok masuk; Lainnya wajib Keterangan ≥ 5 karakter"
                  },
                  "Keterangan": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255
                  },
                  "Baris": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 200,
                    "items": {
                      "type": "object",
                      "properties": {
                        "UuidProduk": {
                          "type": "string"
                        },
                        "Jumlah": {
                          "type": "string",
                          "description": "Satuan dasar, bertanda: \"12\" masuk, \"-3.5\" keluar (maks. 4 desimal)"
                        },
                        "HppSatuan": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Wajib untuk stok masuk (harga modal per satuan dasar); kosong untuk keluar"
                        },
                        "NomorBatch": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Produk ber-batch: masuk = batch baru/ada, keluar = batch yang dikurangi"
                        },
                        "TanggalKedaluwarsa": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "date",
                          "description": "Batch masuk"
                        }
                      },
                      "required": [
                        "UuidProduk",
                        "Jumlah"
                      ]
                    }
                  }
                },
                "required": [
                  "Uuid",
                  "UuidGudang",
                  "Tanggal",
                  "Alasan",
                  "Baris"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dokumen penyesuaian",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "$ref": "#/components/schemas/HasilPenyesuaianStok"
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Dokumen penyesuaian",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Data": {
                      "$ref": "#/components/schemas/HasilPenyesuaianStok"
                    }
                  },
                  "required": [
                    "Data"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/TokenTidakValid"
          },
          "403": {
            "$ref": "#/components/responses/Ditolak"
          },
          "422": {
            "description": "Validasi gagal (ValidasiGagal) atau aturan bisnis: GudangTidakDikenal, ProdukTidakDikenal, BatchTidakDikenal, PelacakanBelumDidukung, KeteranganWajib, UuidSudahDipakai (Uuid milik draf back-office), stok/periode, dll. Gagal = tidak ada dokumen yang tersimpan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Galat"
                }
              }
            }
          },
          "409": {
            "description": "UuidSudahDipakai: Uuid ini sudah dipakai penyesuaian lain dengan isi berbeda (lokasi atau baris). Pakai Uuid baru; tidak ada dokumen yang tersimpan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Galat"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TerlaluBanyak"
          }
        }
      }
    }
  },
  "webhooks": {
    "penjualan.selesai": {
      "post": {
        "summary": "penjualan.selesai",
        "description": "Penjualan diterima server (dari kasir, termasuk yang dibuat offline). Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "penjualan.selesai"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/Penjualan"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "penjualan.divoid": {
      "post": {
        "summary": "penjualan.divoid",
        "description": "Penjualan di-void; Data = penjualan dengan Status Void. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "penjualan.divoid"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/Penjualan"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "penjualan.diretur": {
      "post": {
        "summary": "penjualan.diretur",
        "description": "Retur penjualan diterima server. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "penjualan.diretur"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/ReturPenjualan"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "produk.diubah": {
      "post": {
        "summary": "produk.diubah",
        "description": "Produk dibuat atau diubah (form produk, harga dasar, satuan, barcode, arsip/pulihkan, impor, varian). Data = bentuk GET /api/v1/produk/{uuid}. Satu kiriman per perubahan nyata (simpan ulang tanpa perubahan tidak dikirim); X-Id-Peristiwa berbeda per perubahan. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "produk.diubah"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/Produk"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "pelanggan.dibuat": {
      "post": {
        "summary": "pelanggan.dibuat",
        "description": "Pelanggan baru dibuat dari jalur mana pun (back-office, kasir, impor, toko online). Data = bentuk GET /api/v1/pelanggan. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "pelanggan.dibuat"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/Pelanggan"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "shift.ditutup": {
      "post": {
        "summary": "shift.ditutup",
        "description": "Shift kasir ditutup (termasuk tutup ulang setelah dibuka ulang supervisor: peristiwa baru). Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "shift.ditutup"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/Shift"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "stok.disesuaikan": {
      "post": {
        "summary": "stok.disesuaikan",
        "description": "Penyesuaian stok diposting. Tanpa HPP/nilai. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "stok.disesuaikan"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/PenyesuaianStok"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "pesanan-pembelian.disetujui": {
      "post": {
        "summary": "pesanan-pembelian.disetujui",
        "description": "Pesanan pembelian (PO) disetujui dan siap dikirim ke pemasok. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "pesanan-pembelian.disetujui"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/PesananPembelian"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "penerimaan-barang.diposting": {
      "post": {
        "summary": "penerimaan-barang.diposting",
        "description": "Penerimaan barang (GRN) diposting; stok bertambah. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "penerimaan-barang.diposting"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/PenerimaanBarang"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "pembayaran.diterima": {
      "post": {
        "summary": "pembayaran.diterima",
        "description": "Uang pelanggan diterima di luar penjualan kasir: pelunasan piutang (Sumber PelunasanPiutang) atau uang muka pesanan toko online lewat QRIS web (Sumber PesananOnline). Pembayaran penjualan kasir sudah termasuk di penjualan.selesai. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "pembayaran.diterima"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/Pembayaran"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    },
    "stok.menipis": {
      "post": {
        "summary": "stok.menipis",
        "description": "Saldo stok produk di satu lokasi turun melewati batas stok minimum (sebelumnya di atas minimum, sekarang sama atau di bawahnya). Dikirim sekali per penurunan; setelah stok diisi di atas minimum, penurunan berikutnya dikirim lagi. Header: X-Id-Peristiwa (dedup), X-Peristiwa, X-Waktu-Kirim (detik Unix), X-Tanda-Tangan: sha256=<HMAC-SHA256 rahasia atas \"{X-Waktu-Kirim}.{badan}\">. Balas 2xx dalam 10 detik; selain itu dicoba ulang 1m, 5m, 30m, 2j, 12j.",
        "tags": [
          "Webhook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "IdPeristiwa": {
                    "type": "string"
                  },
                  "Peristiwa": {
                    "type": "string",
                    "const": "stok.menipis"
                  },
                  "TerjadiPada": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "Data": {
                    "$ref": "#/components/schemas/StokMenipis"
                  }
                },
                "required": [
                  "IdPeristiwa",
                  "Peristiwa",
                  "TerjadiPada",
                  "Data"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Diterima penerima"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Galat": {
        "type": "object",
        "properties": {
          "Galat": {
            "type": "object",
            "properties": {
              "Kode": {
                "type": "string"
              },
              "Pesan": {
                "type": "string"
              },
              "Detail": {
                "type": [
                  "object",
                  "null"
                ]
              }
            },
            "required": [
              "Kode",
              "Pesan"
            ]
          }
        },
        "required": [
          "Galat"
        ]
      },
      "Kursor": {
        "type": "object",
        "properties": {
          "Berikutnya": {
            "type": [
              "string",
              "null"
            ],
            "description": "Kirim sebagai ?kursor= untuk halaman berikutnya; null = sudah habis."
          }
        },
        "required": [
          "Berikutnya"
        ]
      },
      "Produk": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Sku": {
            "type": [
              "string",
              "null"
            ]
          },
          "Nama": {
            "type": "string"
          },
          "Jenis": {
            "type": "string"
          },
          "Kategori": {
            "type": [
              "string",
              "null"
            ]
          },
          "Merek": {
            "type": [
              "string",
              "null"
            ]
          },
          "Aktif": {
            "type": "boolean"
          },
          "TampilDiPos": {
            "type": "boolean"
          },
          "TampilOnline": {
            "type": "boolean"
          },
          "HargaTerbuka": {
            "type": "boolean"
          },
          "Satuan": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Uuid": {
                  "type": "string"
                },
                "Nama": {
                  "type": "string"
                },
                "KonversiKeDasar": {
                  "type": "string",
                  "description": "String desimal 4 angka di belakang koma, misal \"2.0000\""
                },
                "DefaultJual": {
                  "type": "boolean"
                },
                "Barcode": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "HargaDasar": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "String desimal, misal \"15000.00\""
                }
              },
              "required": [
                "Uuid",
                "Nama",
                "KonversiKeDasar",
                "DefaultJual",
                "Barcode",
                "HargaDasar"
              ]
            }
          },
          "DiubahPada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "Uuid",
          "Sku",
          "Nama",
          "Jenis",
          "Kategori",
          "Merek",
          "Aktif",
          "TampilDiPos",
          "TampilOnline",
          "HargaTerbuka",
          "Satuan",
          "DiubahPada"
        ]
      },
      "Stok": {
        "type": "object",
        "properties": {
          "UuidProduk": {
            "type": [
              "string",
              "null"
            ]
          },
          "Sku": {
            "type": [
              "string",
              "null"
            ]
          },
          "NamaProduk": {
            "type": [
              "string",
              "null"
            ]
          },
          "UuidGudang": {
            "type": [
              "string",
              "null"
            ]
          },
          "NamaGudang": {
            "type": [
              "string",
              "null"
            ]
          },
          "JumlahTersedia": {
            "type": "string",
            "description": "String desimal 4 angka di belakang koma, misal \"2.0000\""
          },
          "JumlahDipesan": {
            "type": "string",
            "description": "String desimal 4 angka di belakang koma, misal \"2.0000\""
          },
          "DiubahPada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "UuidProduk",
          "Sku",
          "NamaProduk",
          "UuidGudang",
          "NamaGudang",
          "JumlahTersedia",
          "JumlahDipesan",
          "DiubahPada"
        ]
      },
      "Penjualan": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nomor": {
            "type": "string"
          },
          "UuidOutlet": {
            "type": [
              "string",
              "null"
            ]
          },
          "UuidPelanggan": {
            "type": [
              "string",
              "null"
            ]
          },
          "TanggalBisnis": {
            "type": "string",
            "format": "date"
          },
          "Kanal": {
            "type": [
              "string",
              "null"
            ]
          },
          "Status": {
            "type": "string"
          },
          "Subtotal": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "TotalDiskon": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "BiayaLayanan": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "BiayaKirim": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "DiskonKirim": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "TotalPajak": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Pembulatan": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "TotalAkhir": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "TotalDibayar": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Kembalian": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "DibuatOfflinePada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "DiterimaPada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "Baris": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "Uuid": {
                  "type": "string"
                },
                "UuidProduk": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "NamaProduk": {
                  "type": "string"
                },
                "Jumlah": {
                  "type": "string",
                  "description": "String desimal 4 angka di belakang koma, misal \"2.0000\""
                },
                "HargaSatuan": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "HargaPilihan": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "Pilihan": {
                  "type": [
                    "array",
                    "null"
                  ]
                },
                "JumlahDiskon": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "JumlahPajak": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "TotalBaris": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "Catatan": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "Uuid",
                "UuidProduk",
                "NamaProduk",
                "Jumlah",
                "HargaSatuan",
                "HargaPilihan",
                "Pilihan",
                "JumlahDiskon",
                "JumlahPajak",
                "TotalBaris",
                "Catatan"
              ]
            }
          },
          "Pembayaran": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "JenisMetode": {
                  "type": "string"
                },
                "NamaMetode": {
                  "type": "string"
                },
                "Jumlah": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "Status": {
                  "type": "string"
                },
                "DibayarPada": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date-time"
                }
              },
              "required": [
                "JenisMetode",
                "NamaMetode",
                "Jumlah",
                "Status",
                "DibayarPada"
              ]
            }
          }
        },
        "required": [
          "Uuid",
          "Nomor",
          "UuidOutlet",
          "UuidPelanggan",
          "TanggalBisnis",
          "Kanal",
          "Status",
          "Subtotal",
          "TotalDiskon",
          "BiayaLayanan",
          "BiayaKirim",
          "DiskonKirim",
          "TotalPajak",
          "Pembulatan",
          "TotalAkhir",
          "TotalDibayar",
          "Kembalian",
          "DibuatOfflinePada",
          "DiterimaPada",
          "Baris",
          "Pembayaran"
        ]
      },
      "ReturPenjualan": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nomor": {
            "type": "string"
          },
          "UuidOutlet": {
            "type": [
              "string",
              "null"
            ]
          },
          "UuidPenjualan": {
            "type": [
              "string",
              "null"
            ]
          },
          "TanggalBisnis": {
            "type": "string",
            "format": "date"
          },
          "Status": {
            "type": "string"
          },
          "Alasan": {
            "type": [
              "string",
              "null"
            ]
          },
          "MetodeRefund": {
            "type": "string"
          },
          "TotalNilai": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "TotalPajak": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "TotalRefund": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "DiterimaPada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "Uuid",
          "Nomor",
          "UuidOutlet",
          "UuidPenjualan",
          "TanggalBisnis",
          "Status",
          "Alasan",
          "MetodeRefund",
          "TotalNilai",
          "TotalPajak",
          "TotalRefund",
          "DiterimaPada"
        ]
      },
      "Pelanggan": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nama": {
            "type": "string"
          },
          "NoHp": {
            "type": [
              "string",
              "null"
            ]
          },
          "Email": {
            "type": [
              "string",
              "null"
            ]
          },
          "TanggalLahir": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "Tag": {
            "type": [
              "array",
              "null"
            ]
          },
          "SetujuPemasaran": {
            "type": "boolean"
          },
          "Status": {
            "type": "string"
          },
          "Tier": {
            "type": [
              "string",
              "null"
            ]
          },
          "DibuatPada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "DiubahPada": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        },
        "required": [
          "Uuid",
          "Nama",
          "NoHp",
          "Email",
          "TanggalLahir",
          "Tag",
          "SetujuPemasaran",
          "Status",
          "Tier",
          "DibuatPada",
          "DiubahPada"
        ]
      },
      "Shift": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "UuidOutlet": {
            "type": [
              "string",
              "null"
            ]
          },
          "TanggalBisnis": {
            "type": "string",
            "format": "date"
          },
          "DibukaPada": {
            "type": "string",
            "format": "date-time"
          },
          "DitutupPada": {
            "type": "string",
            "format": "date-time"
          },
          "KasAwal": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "KasSeharusnya": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "KasAktual": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Selisih": {
            "type": "string",
            "description": "String desimal bertanda: KasAktual − KasSeharusnya"
          }
        },
        "required": [
          "Uuid",
          "UuidOutlet",
          "TanggalBisnis",
          "DibukaPada",
          "DitutupPada",
          "KasAwal",
          "KasSeharusnya",
          "KasAktual",
          "Selisih"
        ]
      },
      "PenyesuaianStok": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nomor": {
            "type": "string"
          },
          "UuidGudang": {
            "type": "string"
          },
          "TanggalBisnis": {
            "type": "string",
            "format": "date"
          },
          "Alasan": {
            "type": "string"
          },
          "Baris": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "UuidProduk": {
                  "type": "string"
                },
                "Jumlah": {
                  "type": "string",
                  "description": "String desimal bertanda: + masuk, − keluar"
                },
                "NomorBatch": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "UuidProduk",
                "Jumlah",
                "NomorBatch"
              ]
            }
          }
        },
        "required": [
          "Uuid",
          "Nomor",
          "UuidGudang",
          "TanggalBisnis",
          "Alasan",
          "Baris"
        ]
      },
      "PesananPembelian": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nomor": {
            "type": "string"
          },
          "UuidPemasok": {
            "type": [
              "string",
              "null"
            ]
          },
          "UuidGudang": {
            "type": [
              "string",
              "null"
            ]
          },
          "Tanggal": {
            "type": "string",
            "format": "date"
          },
          "PerkiraanTiba": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "Subtotal": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Diskon": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Pajak": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Ongkir": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Total": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Baris": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "UuidProduk": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "NamaProduk": {
                  "type": "string"
                },
                "Satuan": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "Jumlah": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "Harga": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                }
              },
              "required": [
                "UuidProduk",
                "NamaProduk",
                "Satuan",
                "Jumlah",
                "Harga"
              ]
            }
          }
        },
        "required": [
          "Uuid",
          "Nomor",
          "UuidPemasok",
          "UuidGudang",
          "Tanggal",
          "PerkiraanTiba",
          "Subtotal",
          "Diskon",
          "Pajak",
          "Ongkir",
          "Total",
          "Baris"
        ]
      },
      "PenerimaanBarang": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nomor": {
            "type": "string"
          },
          "UuidPesananPembelian": {
            "type": [
              "string",
              "null"
            ]
          },
          "UuidPemasok": {
            "type": [
              "string",
              "null"
            ]
          },
          "UuidGudang": {
            "type": [
              "string",
              "null"
            ]
          },
          "Tanggal": {
            "type": "string",
            "format": "date"
          },
          "NomorSuratJalan": {
            "type": [
              "string",
              "null"
            ]
          },
          "TotalNilai": {
            "type": "string",
            "description": "String desimal, misal \"15000.00\""
          },
          "Baris": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "UuidProduk": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "NamaProduk": {
                  "type": "string"
                },
                "Satuan": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "Jumlah": {
                  "type": "string",
                  "description": "String desimal, misal \"15000.00\""
                },
                "NomorBatch": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "UuidProduk",
                "NamaProduk",
                "Satuan",
                "Jumlah",
                "NomorBatch"
              ]
            }
          }
        },
        "required": [
          "Uuid",
          "Nomor",
          "UuidPesananPembelian",
          "UuidPemasok",
          "UuidGudang",
          "Tanggal",
          "NomorSuratJalan",
          "TotalNilai",
          "Baris"
        ]
      },
      "HasilPenyesuaianStok": {
        "type": "object",
        "properties": {
          "Uuid": {
            "type": "string"
          },
          "Nomor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Null selama menunggu persetujuan"
          },
          "Status": {
            "type": "string",
            "enum": [
              "Draf",
              "MenungguPersetujuan",
              "Diposting",
              "Dibatalkan"
            ]
          },
          "UuidGudang": {
            "type": "string"
          },
          "TanggalBisnis": {
            "type": "string",
            "format": "date"
          },
          "Alasan": {
            "type": "string"
          },
          "Keterangan": {
            "type": [
              "string",
              "null"
            ]
          },
          "Baris": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "UuidProduk": {
                  "type": "string"
                },
                "Jumlah": {
                  "type": "string",
                  "description": "String desimal bertanda: + masuk, − keluar"
                },
                "NomorBatch": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "UuidProduk",
                "Jumlah",
                "NomorBatch"
              ]
            }
          }
        },
        "required": [
          "Uuid",
          "Nomor",
          "Status",
          "UuidGudang",
          "TanggalBisnis",
          "Alasan",
          "Keterangan",
          "Baris"
        ]
      },
      "Pembayaran": {
        "type": "object",
        "properties": {
          "Sumber": {
            "type": "string",
            "enum": [
              "PelunasanPiutang",
              "PesananOnline"
            ]
          },
          "Uuid": {
            "type": "string",
            "description": "Uuid dokumen pelunasan piutang atau pesanan online"
          },
          "Nomor": {
            "type": "string"
          },
          "UuidPelanggan": {
            "type": [
              "string",
              "null"
            ]
          },
          "Tanggal": {
            "type": "string",
            "format": "date"
          },
          "Jumlah": {
            "type": "string",
            "description": "String desimal Rupiah"
          },
          "Metode": {
            "type": [
              "string",
              "null"
            ],
            "description": "Nama metode pembayaran (pesanan online); null untuk pelunasan piutang"
          },
          "Giro": {
            "type": "boolean",
            "description": "Pelunasan dengan giro/cek mundur (belum cair)"
          },
          "Alokasi": {
            "type": "array",
            "description": "Piutang yang dilunasi; kosong untuk pesanan online",
            "items": {
              "type": "object",
              "properties": {
                "NomorPiutang": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "Jumlah": {
                  "type": "string"
                }
              },
              "required": [
                "NomorPiutang",
                "Jumlah"
              ]
            }
          }
        },
        "required": [
          "Sumber",
          "Uuid",
          "Nomor",
          "UuidPelanggan",
          "Tanggal",
          "Jumlah",
          "Metode",
          "Giro",
          "Alokasi"
        ]
      },
      "StokMenipis": {
        "type": "object",
        "properties": {
          "UuidProduk": {
            "type": "string"
          },
          "Sku": {
            "type": [
              "string",
              "null"
            ]
          },
          "NamaProduk": {
            "type": "string"
          },
          "Satuan": {
            "type": "string",
            "description": "Simbol satuan dasar"
          },
          "UuidGudang": {
            "type": "string"
          },
          "NamaGudang": {
            "type": "string"
          },
          "Saldo": {
            "type": "string",
            "description": "Saldo setelah mutasi, satuan dasar (boleh negatif)"
          },
          "StokMinimum": {
            "type": "string"
          }
        },
        "required": [
          "UuidProduk",
          "Sku",
          "NamaProduk",
          "Satuan",
          "UuidGudang",
          "NamaGudang",
          "Saldo",
          "StokMinimum"
        ]
      }
    },
    "securitySchemes": {
      "TokenApi": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization: Bearer payoung_{IdTenant}_{rahasia}. Cakupan: produk:baca, stok:baca, penjualan:baca, pelanggan:baca."
      }
    },
    "parameters": {
      "Per": {
        "name": "per",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      },
      "Kursor": {
        "name": "kursor",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string"
        },
        "description": "Nilai Kursor.Berikutnya dari halaman sebelumnya."
      }
    },
    "responses": {
      "TokenTidakValid": {
        "description": "Token tidak ada, salah, milik tenant lain, dicabut, atau kedaluwarsa (Kode TokenApiTidakValid).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Galat"
            }
          }
        }
      },
      "Ditolak": {
        "description": "Paket tanpa fitur API (FiturTidakTersedia) atau token tanpa cakupan (CakupanTidakCukup).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Galat"
            }
          }
        }
      },
      "TerlaluBanyak": {
        "description": "Melewati batas permintaan; ulangi setelah header Retry-After.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Galat"
            }
          }
        }
      },
      "ParameterTidakValid": {
        "description": "Kursor rusak (KursorTidakValid) atau rentang tanggal tidak valid (RentangTanggalTidakValid).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Galat"
            }
          }
        }
      },
      "TidakDitemukan": {
        "description": "Data tidak ditemukan (TidakDitemukan).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Galat"
            }
          }
        }
      }
    }
  }
}
